.footer {

    margin-top: 100px;
    background: $intro;
    padding: 40px;
    color: #fff;

    p {
        font-size: 15px;
    }

    h4 {
        margin: 20px 0;
    }

    a {
        color: #fff;
    }

    &__top {
        display: flex;
        justify-content: space-evenly;
    }

    &__bottom {
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
    }

    &__logo {
        width: 40vw;
        img {
            width: 10vw;
        }
    }
}